.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

input {
  color: #9c9b9b;
  font-size: 27px;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
  border: none;
  text-align: center;
  padding: 0;
  margin: 0 1px;
  width: 1ch
}

.char {
  font-size: 27px;
  font-weight: 200;
  color: #9c9b9b;

}

.match {
  color: black
}

.not-match {
  color: #f16060;
}

.current {
  border-left: 2px solid black;
}

input:focus {
  outline: none;
}

button {
  margin: 10px;
}

.selected {
  background-color: yellow;
}

.paragraph-container {
  height: 365px;
  overflow: auto;
}

.paragraph-container::-webkit-scrollbar {
  width: 0px;
}